@page
@model CityBikeApplication.Pages.CreateNewStationModel
@{
    ViewData["Title"] = "New Station";
}

<h1>@ViewData["Title"]</h1>
<p></p>


@if (Model.ErrorMessages.Count > 0)
{
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-warning" role="alert">
            <strong>@errorMessage</strong>
        </div>
    }
}

@if (Model.OldStation == null)
{
    Model.OldStation = new Station();
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="id" value="@Model.OldStation.Id" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="@Model.OldStation.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="address" value="@Model.OldStation.Address" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" value="@Model.OldStation.City" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Operator</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="operator" value="@Model.OldStation.Operator" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Capacity</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="capacity" value="@Model.OldStation.Capacity" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="y" value="@Model.OldStation.Y" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="x" value="@Model.OldStation.X" />
        </div>
    </div>




    <p></p>

    <div class="row mb-3">
        <div class="col-sm-2 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2 d-grid">
            @{
                bool fromNewJourney = Request.Query["fromNewJourney"].Equals("true");
                bool fromEditJourney = Request.Query["fromEditJourney"].Equals("true");

                string queryString = "?fromNewStation=true&" +
                        "ds=" + Request.Query["ds"] + "&" +
                        "rs=" + Request.Query["rs"] + "&" +
                        "dt=" + Request.Query["dt"] + "&" +
                        "rt=" + Request.Query["rt"] + "&" +
                        "cd=" + Request.Query["cd"] + "&" +
                        "d=" + Request.Query["d"];
                if (fromNewJourney)
                {
                    string redirection = "/CreateNewJourney" + queryString;
                    <a class="btn btn-outline-primary" href=@redirection role="button">Cancel</a>
                }
                else if (fromEditJourney)
                {
                    queryString += "&journeyId=" + Request.Query["journeyId"];
                    string redirection = "/EditJourney" + queryString;
                    <a class="btn btn-outline-primary" href=@redirection role="button">Cancel</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/StationList" role="button">Cancel</a>
                }

            }
        </div>
    </div>

</form>
