@page
@model CityBikeApplication.Pages.EditStationModel
@{
    ViewData["Title"] = "Edit Station";
}

<h1>@ViewData["Title"]</h1>
<p></p>


@if (Model.ErrorMessages.Count > 0)
{
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-warning" role="alert">
            <strong>@errorMessage</strong>
        </div>
    }
}

@if (Model.OldStation == null)
{
    Model.GetOldStation();
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="id" value="@Model.OldStation.Id" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Nimi</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="nimi" value="@Model.OldStation.Nimi" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Namn</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="namn" value="@Model.OldStation.Namn" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="@Model.OldStation.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Osoite</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="osoite" value="@Model.OldStation.Osoite" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="address" value="@Model.OldStation.Address" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Kaupunki</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="kaupunki" value="@Model.OldStation.Kaupunki" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Stad</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="stad" value="@Model.OldStation.Stad" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Operaattori</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="operaattori" value="@Model.OldStation.Operaattori" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Kapasiteetti</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="kapasiteetti" value="@Model.OldStation.Kapasiteetti" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="y" value="@Model.OldStation.Y" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="x" value="@Model.OldStation.X" />
        </div>
    </div>




    <p></p>

    <div class="row mb-3">
        <div class="col-sm-2 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2 d-grid">
            @{
                bool cameFromStationInfo = Request.Query["cameFromStationInfo"].Equals("true");
                if (cameFromStationInfo)
                {
                    string redirection = "/StationInfo?id=" + Model.OldStation.Id;
                    <a class="btn btn-outline-primary" href=@redirection role="button">Cancel</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/StationList" role="button">Cancel</a>
                }

            }

        </div>
    </div>

</form>
