@page
@model CityBikeApplication.Pages.EditStationModel
@{
    ViewData["Title"] = "Edit Station";
}

<h1>@ViewData["Title"]</h1>

<p></p>

@if (Model.ErrorMessages.Count > 0)
{
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-warning" role="alert">
            <strong>@errorMessage</strong>
        </div>
    }
}

<form method="POST">
    @if (Model.OldStation == null)
    {
        Model.GetOldStation();
    }
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="id" value="@Model.OldStation.Id" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="@Model.OldStation.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="address" value="@Model.OldStation.Address" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" value="@Model.OldStation.City" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Operator</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="operator" value="@Model.OldStation.Operator" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Capacity</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="capacity" value="@Model.OldStation.Capacity" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="y" value="@Model.OldStation.Y" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="x" value="@Model.OldStation.X" />
        </div>
    </div>

    <p></p>

    <div class="row mb-3">
        <div class="col-sm-2 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2 d-grid">
            @{
                bool cameFromStationInfo = Request.Query["cameFromStationInfo"].Equals("true");
                if (cameFromStationInfo)
                {
                    string redirection = "/StationInfo?id=" + Model.OldStation.Id;

                    bool cameFromStationList = Request.Query["cameFromStationList"].Equals("true");
                    if (cameFromStationList)
                    {
                        redirection += "&cameFromStationList=true";
                    }

                    <a class="btn btn-outline-primary" href=@redirection role="button">Cancel</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/StationList" role="button">Cancel</a>
                }
            }
        </div>
    </div>
</form>
