@page
@model CityBikeApplication.Pages.EditJourneyModel
@{
    ViewData["Title"] = "Edit Journey";
}

<h1>@ViewData["Title"]</h1>
<p></p>


@if (Model.ErrorMessages.Count > 0)
{
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-warning" role="alert">
            <strong>@errorMessage</strong>
        </div>
    }
}

@if (Model.OldJourney == null)
{
    Model.GetOldJourney();
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Departure Time</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="departureTime" value="@Model.OldJourney.GetUnderstandableDepartureTime()" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Return Time</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="returnTime" value="@Model.OldJourney.GetUnderstandableReturnTime()" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Departure Station</label>
        <select class="col-sm-4" name="departureStationId">
            <option value="-1" selected="selected">Select station</option>
            @{
                List<Station> stations = Model.GetChoices();
                foreach (Station station in stations)
                {
                    string optionName = station.Id + ": " + station.Name;
                    if (station.Id == Model.OldJourney.DepartureStationId)
                    {
                        <option value="@station.Id" selected="selected">@optionName</option>
                    }
                    else
                    {
                        <option value="@station.Id">@optionName</option>
                    }
                }
            }
        </select>
        <div class="col-sm-2">
            <a class="btn btn-primary btn-sm" href="/CreateNewStation">Create New Station</a>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Return Station</label>
        <select class="col-sm-4" name="returnStationId">
            <option value="-1" selected="selected">Select station</option>
            @{
                foreach (Station station in stations)
                {
                    string optionName = station.Id + ": " + station.Name;
                    if (station.Id == Model.OldJourney.ReturnStationId)
                    {
                        <option value="@station.Id" selected="selected">@optionName</option>
                    }
                    else
                    {
                        <option value="@station.Id">@optionName</option>
                    }

                }
            }
        </select>
        <div class="col-sm-2">
            <a class="btn btn-primary btn-sm" href="/CreateNewStation">Create New Station</a>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Covered Distance (km)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="coveredDistance" value="@Model.OldJourney.CoveredDistance" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Duration (min)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="duration" value="@Model.OldJourney.Duration" />
        </div>
    </div>

    <p></p>

    <div class="row mb-3">
        <div class="col-sm-2 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2 d-grid">
            <a class="btn btn-outline-primary" href="/JourneyList" role="button">Cancel</a>
        </div>
    </div>

</form>
