@page
@model CityBikeApplication.Pages.JourneyListModel
@{
    ViewData["Title"] = "Journey List";
}

<h1>@ViewData["Title"]</h1>

<a class=" btn btn-primary btn-sm" href="/CreateNewJourney">Create New Journey</a>
<p></p>

<style>

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div>

    <table border="1">
        <tr>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Time</button>
                    <input type="hidden" name="sortJourneyString" value="departureTime" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Time</button>
                    <input type="hidden" name="sortJourneyString" value="returnTime" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Station</button>
                    <input type="hidden" name="sortJourneyString" value="departureStation" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Station</button>
                    <input type="hidden" name="sortJourneyString" value="returnStation" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Covered Distance (km)</button>
                    <input type="hidden" name="sortJourneyString" value="coveredDistance" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Journey Duration</button>
                    <input type="hidden" name="sortJourneyString" value="duration" />
                </form>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @if (DataHandler.Instance.ready)
        {
            foreach (Journey journey in Model.GetJourneys())
            {
                string[] understandableDepartureTime = journey.GetUnderstandableDepartureTime().Split(" ");
                string[] understandableReturnTime = journey.GetUnderstandableReturnTime().Split(" ");
    <tr>
        <td>@understandableDepartureTime[0]<br />@understandableDepartureTime[1]</td>
        <td>@understandableReturnTime[0]<br />@understandableReturnTime[1]</td>
        <td>
            <a class="btn btn-primary btn-sm" href="EditStation?id=@journey.departureStationId">@Html.DisplayFor(modelItem => journey.departureStationName)</a>
        </td>
        <td>
            <a class="btn btn-primary btn-sm" href="EditStation?id=@journey.returnStationId">@Html.DisplayFor(modelItem => journey.returnStationName)</a>
        </td>
        <td>@Html.DisplayFor(modelItem => journey.coveredDistance)</td>
        <td>@Html.DisplayFor(modelItem => journey.duration)</td>
        <td>
            <a class="btn btn-primary btn-sm" href="EditJourney?id=@journey.id">Edit</a>
        </td>
        <td>
            <form asp-page-handler="delete" method="post">
                <button class="btn btn-danger btn-sm">Delete</button>
                <input type="hidden" name="id" value="@journey.id" />
                <input type="hidden" name="index" value="@Model.currentPageIndex" />
            </form>
        </td>
    </tr>
            }
        }



    </table>

    <p></p>

    <div class="row mb-3">

        @if (DataHandler.Instance.ready)
        {
            int currentIndex = Model.currentPageIndex;
            for (int index = 0; index < Model.GetPagesCount(); index++)
            {
                <form asp-page-handler="ChangePage" method="post">

                    @if (index == currentIndex)
                    {
                        <button class="btn btn-info btn-sm">@index</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm">@index</button>
                    }
                    <input type="hidden" name="index" value="@index" />
                </form>
            }

        }

    </div>
</div>
