@page
@model CityBikeApplication.Pages.JourneyListModel
@{
    ViewData["Title"] = "Journey List";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-3">
        <a class="btn btn-primary btn-sm" href="/CreateNewJourney">Create New Journey</a>
    </div>
    <form method="post" asp-page-handler="ChangeJourneysPerPage">
        Count of elements per page
        <select name="selection">
            @foreach (int Value in Model.Choices)
            {
                if (Value == Model.JourneysPerPage)
                {
                    <option value="@Value" selected="selected">@Value</option>
                }
                else
                {
                    <option value="@Value">@Value</option>
                }

            }
        </select>
        <input type="submit" value="Change" />
    </form>
</div>

<p></p>

<style>

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
</style>

<div>

    <table border="1">
        <tr>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Time</button>
                    <input type="hidden" name="sortJourneyString" value="departureTime" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Time</button>
                    <input type="hidden" name="sortJourneyString" value="returnTime" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Station</button>
                    <input type="hidden" name="sortJourneyString" value="departureStation" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Station</button>
                    <input type="hidden" name="sortJourneyString" value="returnStation" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Covered Distance (km)</button>
                    <input type="hidden" name="sortJourneyString" value="coveredDistance" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Journey Duration</button>
                    <input type="hidden" name="sortJourneyString" value="duration" />
                    <input type="hidden" name="selection" value="@Model.JourneysPerPage" />
                </form>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @if (DataHandler.Instance.Ready)
        {
            foreach (Journey journey in Model.GetJourneys())
            {
                string[] understandableDepartureTime = journey.GetUnderstandableDepartureTime().Split(" ");
                string[] understandableReturnTime = journey.GetUnderstandableReturnTime().Split(" ");
                <tr>
                    <td>@understandableDepartureTime[0]<br />@understandableDepartureTime[1]</td>
                    <td>@understandableReturnTime[0]<br />@understandableReturnTime[1]</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditStation?id=@journey.DepartureStationId">@Html.DisplayFor(modelItem => journey.DepartureStationName)</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditStation?id=@journey.ReturnStationId">@Html.DisplayFor(modelItem => journey.ReturnStationName)</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => journey.CoveredDistance)</td>
                    <td>@Html.DisplayFor(modelItem => journey.Duration)</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditJourney?id=@journey.Id">Edit</a>
                    </td>
                    <td>
                        <form asp-page-handler="delete" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                            <input type="hidden" name="id" value="@journey.Id" />
                            <input type="hidden" name="index" value="@Model.CurrentPageIndex" />
                        </form>
                    </td>
                </tr>
            }
        }



    </table>

    <p></p>

    <div class="row mb-3">

        @if (DataHandler.Instance.Ready)
        {
            int currentIndex = Model.CurrentPageIndex;
            for (int index = 0; index < Model.GetPagesCount(); index++)
            {
                <form asp-page-handler="ChangePage" method="post">

                    @if (index == currentIndex)
                    {
                        <button class="btn btn-info btn-sm">@index</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm">@index</button>
                    }
                    <input type="hidden" name="index" value="@index" />
                    <input type="hidden" name="perPage" value="@Model.JourneysPerPage" />
                </form>
            }

        }

    </div>
</div>
