@page
@model CityBikeApplication.Pages.JourneyListModel
@{
    ViewData["Title"] = "Journey List";
}

<h1>@ViewData["Title"]</h1>

<a class=" btn btn-primary btn-sm" href="/CreateNewJourney">Create New Journey</a>
<p></p>

<style>

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div>

    <table border="1">
        <tr>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Time</button>
                    <input type="hidden" name="sortJourneyString" value="departureTime_desc" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Time</button>
                    <input type="hidden" name="sortJourneyString" value="returnTime_desc" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Departure Station</button>
                    <input type="hidden" name="sortJourneyString" value="departureStation_desc" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Return Station</button>
                    <input type="hidden" name="sortJourneyString" value="returnStation_desc" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Covered Distance (km)</button>
                    <input type="hidden" name="sortJourneyString" value="coveredDistance_desc" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortJourneys" method="post">
                    <button class="btn btn-danger btn-sm">Journey Duration</button>
                    <input type="hidden" name="sortJourneyString" value="duration_desc" />
                </form>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @if (DataHandler.Instance.ready)
        {
            foreach (Journey journey in DataHandler.Instance.journeys)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => journey.departureTime)</td>
                    <td>@Html.DisplayFor(modelItem => journey.returnTime)</td>
                    <td>@Html.DisplayFor(modelItem => journey.departureStationName)</td>
                    <td>@Html.DisplayFor(modelItem => journey.returnStationName)</td>
                    <td>@Html.DisplayFor(modelItem => journey.coveredDistance)</td>
                    <td>@Html.DisplayFor(modelItem => journey.duration)</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditJourney?id=@journey.id">Edit</a>
                    </td>
                    <td>
                        <form asp-page-handler="delete" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                            <input type="hidden" name="id" value="@journey.id" />
                        </form>
                    </td>
                    <td>
                        <form asp-page-handler="sortJourneys" method="post">
                            <button class="btn btn-danger btn-sm">Sort</button>
                            <input type="hidden" name="id" value="departureTime_desc" />
                        </form>
                    </td>
                </tr>
            }
        }

    </table>


</div>
