@page
@model CityBikeApplication.Pages.StationListModel
@{
    ViewData["Title"] = "Station List";
}

<h1>@ViewData["Title"]</h1>
<p></p>

<div class="row">
    <div class="col-sm-3">
        <a class="btn btn-primary btn-sm" href="/CreateNewStation">Create New Station</a>
    </div>
    <form method="post" asp-page-handler="ChangeStationsPerPage">
        Count of elements per page
        <select name="selection">
            @foreach (int Value in Model.Choices)
            {
                if (Value == Model.stationsPerPage)
                {
                    <option value="@Value" selected="selected">@Value</option>
                }
                else
                {
                    <option value="@Value">@Value</option>
                }

            }
        </select>
        <input type="submit" value="Change" />
    </form>
</div>

<p></p>

<style>

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div>

    <table border="1">
        <tr>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">Id</button>
                    <input type="hidden" name="sortStationString" value="id" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">Name</button>
                    <input type="hidden" name="sortStationString" value="name" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">Address</button>
                    <input type="hidden" name="sortStationString" value="osoite" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">City</button>
                    <input type="hidden" name="sortStationString" value="kaupunki" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">Operator</button>
                    <input type="hidden" name="sortStationString" value="operaattori" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>
                <form asp-page-handler="sortStations" method="post">
                    <button class="btn btn-danger btn-sm">Capacity</button>
                    <input type="hidden" name="sortStationString" value="kapasiteetti" />
                    <input type="hidden" name="selection" value="@Model.stationsPerPage" />
                </form>
            </th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Show on Map</th>
        </tr>

        @if (DataHandler.Instance.ready)
        {
            foreach (Station station in Model.GetStations())
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => station.id)</td>
                    <td>@Html.DisplayFor(modelItem => station.name)</td>
                    <td>@Html.DisplayFor(modelItem => station.osoite)</td>
                    <td>@Html.DisplayFor(modelItem => station.kaupunki)</td>
                    <td>@Html.DisplayFor(modelItem => station.operaattori)</td>
                    <td>@Html.DisplayFor(modelItem => station.kapasiteetti)</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditStation?id=@station.id">Edit</a>
                    </td>
                    <td>
                        <form asp-page-handler="delete" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                            <input type="hidden" name="id" value="@station.id" />
                            <input type="hidden" name="index" value="@Model.currentPageIndex" />
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" href=@station.GetLocation()>Map</a>
                    </td>
                </tr>
            }
        }

    </table>

    <p></p>

    <div class="row mb-3">

        @if (DataHandler.Instance.ready)
        {
            int currentIndex = Model.currentPageIndex;
            for (int index = 0; index < Model.GetPagesCount(); index++)
            {
                <form asp-page-handler="ChangePage" method="post">

                    @if (index == currentIndex)
                    {
                        <button class="btn btn-info btn-sm">@index</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm">@index</button>
                    }
                    <input type="hidden" name="index" value="@index" />
                    <input type="hidden" name="perPage" value="@Model.stationsPerPage" />
                </form>
            }

        }

    </div>

</div>
